<h1><%= @person.name %> weight history</h1>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Weight</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @weights.each do |weight| %>
      <tr>
        <td><%= weight.created_at.to_formatted_s(:long) %></td>
        <td><%= weight.weight %>kg</td>
        <td><%= link_to 'x', person_weight_path(@person, weight), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn delete' %></td>
      </tr>
    <% end %>
  </tbody>
</table>